<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="light dark" />
<link rel="icon" type="image/png" sizes="32x32" href="{{base_url|safe}}img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{base_url|safe}}img/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="{{base_url|safe}}img/apple-touch-icon.png" />
<link rel="stylesheet" href="{{base_url|safe}}pico-2.1.1-2.css" />
<script src="{{base_url|safe}}alpine-3.15.2-2.js" defer></script>

<style>
  h1 {
    --pico-font-size: 1.5rem;
  }
  .content h1 {
    text-decoration: line-through;
    --pico-font-size: 1rem;
  }
  h2 {
    --pico-font-size: 1.25rem;
  }
  h3 {
    --pico-font-size: 1.125rem;
  }
  h4 {
    --pico-font-size: 1rem;
  }
  h5 {
    --pico-font-size: 0.875rem;
  }
  h6 {
    --pico-font-size: 0.75rem;
  }
</style>
